* {
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid; */
}

body {
    margin: 0;
    padding: 0;
}

/* navbar section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    /* these margins helps center navbar  */
}

.nav-logo img {
    height: 90px;
    width: 90px;
    border-radius: 10px;
}

.nav-logo {
    padding: 12px;
    /* padding helps center logo */
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 6px;      
    /* padding adds spacing between links */
}

/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 108px;
}


.hero-right img {
    height: 300px;
    width: 500px;
}