* {
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid; */
}

body {
    margin: 0;
    padding: 0;
}

body img {
    object-fit: cover;
}

/* NAVBAR SECTION */
.navbar-container {
    /* background-color: rgb(9, 17, 33); */
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    /* these margins helps center navbar  */
}

.nav-logo img {
    height: 90px;
    width: 90px;
    border-radius: 10px;
}

.nav-logo {
    padding: 12px;
    /* padding helps center logo */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 6px;      
    /* padding adds spacing between links */
}

/* HERO SECTION */
.hero-container {
    /* background-color: rgb(9, 17, 33); */
    background-color: black;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 108px;
}

.hero-left p {
    opacity: 0.9;
}

.hero-right {
    padding-bottom: 12px;
}

.hero-right img {
    height: 300px;
    width: 500px;
    border-radius: 15px;
}

.hero-button {
    width: 100px;
    height: 30px;
    background-color: #FF2525;
    color: white;
    font-weight: bold;
    border: 1px solid #FF2525;
    border-radius: 5px;
}

/* SHOWCASE SECTION */
.showcase-container h2 {
    text-align: center;
    margin-bottom: 30px ;
}

.showcase {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.showcase img {
    height: 240px;
    width: 250px;
    border: .5px solid red;
    border-radius: 10px;
}

.showcase p {
    text-align: center;
    font-weight: bold;
}

/* QUOTE SECTION */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 150px;
    padding: 6px 200px;
}

.p2 {
    margin-left: 38px;
}

.author {
    align-self: flex-end;
    margin-right: 124px;
    font-weight: bold;
}